* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
html {
  background-color:#6998AB
}
.logCard {
  width: 30%;
  margin: 30vh auto;
  border-radius: 6px;
  line-height: 3;
  border: 3px solid #406882;
 
}

.logCard .form-select {
  border: 1px solid #406882;
}

.logCard .form-select:focus {

  border: 1px solid #406882;
  
}

.logCard .login-btn,
.logCard .login-btn:disabled,
.addQuestion button,
.addQuestion button:disabled,
.ques-list .ques-peak a button.btn,
.question button:disabled,
.question button {
  background: #406882;
  border: none;
}

.logCard .login-btn:hover,
.addQuestion button:hover,
.ques-list .ques-peak a button.btn:hover,
.question button:hover,
.logCard .login-btn:focus,
.addQuestion button:focus,
.ques-list .ques-peak a button.btn:focus
.question button:focus {
 color: #fff;
  background-color: #1A374D;
  border-color: #1A374D;

}

nav.navbar {
  border-bottom: 1px solid #406882;
  background: #1A374D
 
}

ul.nav-list {
  margin: 0;
  padding: 0
}

.avatar {
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.authed-user span {
  color: #fff
}

.authed-user .user-name {

  font-weight: 500;
  margin-right: 30px
}

.nav-list .nav-item {
  display: inline-block;
  margin-right: 20px;
}

.nav-list .nav-item a {
  background-color: transparent;
  padding: 8px;
  text-decoration: none;
  border-radius: 4px;
  color: #406882;
  transition: all 0.2s ease
}
.nav-list .nav-item a.active {
  background-color: #406882;
  color: #ffffff;
}
.nav-list .nav-item a:hover {
  background-color: #406882;
  color: #ffffff;
}


.all-questions,
.leaderboard {
  border: 3px solid #406882;

  border-radius: 6px;
  margin-top: 30px;
}

.all-questions .nav-tabs {
  padding-right: 0
}

.all-questions .nav-tabs .nav-item {
  width: 50%;
}

.all-questions .nav-tabs .nav-item .nav-link {
  width: 100%;
  padding: 15px 0;
  color: #406882
}

.all-questions .nav-tabs .nav-item .nav-link.active {
  background-color: #406882;
  color: #fff
}

.ques-list {
  width: 90%;
  margin: 0 auto;
}

.ques-list .user-card .card-box {
  border: 1px solid #406882
}

.ques-list .user-card .card-header,
.question .card .card-header {
  background-color: #406882;
  color: #fff
}

.ques-list .card-body {
  background-color:#B1D0E0;
  display: flex;
  justify-content: space-around;
}

.card-avatar {
  height: 120px;
  border-radius: 50%;
  margin-top: 10px  
}

.ques-list .ques-peak {
  background-color:#B1D0E0;

  border: none;
}

.ques-list .ques-peak a {
  width: fit-content;
  margin: 0 auto;
}

.addQuestion {
  padding: 30px;
  width: 70%;
  margin: 50px auto 0;
  border: 3px solid #406882;
  
  border-radius: 4px;
}

.addQuestion .form-control {
  border: 1px solid #406882;
}

.addQuestion .form-control:focus {
  border: 1px solid #406882;

}

.question { 
  width: 90%
}
.card-body {
  background-color:#B1D0E0;

}
.question .answer-section {
  background-color:#B1D0E0;

  display: flex;
  justify-content: space-around;
}

.question .answer-section .answer,
.question .answer .my-3.container {
  margin-right: 40px;
}

.question .answer .my-3.container > *:not(:last-child) {
  margin-bottom: 10px
}

.question .form-check-input:checked {
  background-color: #406882;
  border-color: #406882;
  
}

.question .form-check-input:hover {
  cursor: pointer;
}

.question .results .card-body {
  padding: 1.5rem 1rem;
}

.question .results .card-body span.badge {
  position: absolute;
  top: 0;
  right: 0;
}

.question .results .card-body .progress .progress-bar {
  background-color: #406882
}

.leaderboard .board-content {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.leaderboard .board-content .questions-count,
.leaderboard .board-content .total {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leaderboard .board-content .total {
  background: #406882;
    border-radius: 10px;
    width: 130px;
    color: #fff;
}
.app {
  background: #6998AB;
}